body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding:0;
    text-align: center; }
.navbar {
    background-color: #333;
    overflow: hidden;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000; 

}
.navbar a {

    float: left;
    display: flex;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none; }
.navbar a:hover {
    background-color: #ddd;
    color: black; }

.main {
    margin-top: 80px;
    padding:0;
    width: 100%;
    background-color: white;

}
.paragrafo{
    text-align: left;
    margin:16px;

}
.projetos{
    background-color: white;
    margin: 8px;
}
.item {
  display: inline-block;
  width: 80%;
  height: 300px;
  /*border: 2px solid black;*/
  background-color: #b6b6b6;
  margin: 1rem;
  padding: 16px;
  text-align: left;
  border-radius: 15px;
}

.item:hover {
  background-color: #ddd;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.4);
  
   

}
/*p {
  padding: 1rem;
}*/

.item {
  background-color: white;
  /*box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);*/
}
.item:-moz-drag-over {
  background-color: red;
}

.footer {
    background-color: black;
    color: white;
    padding:  14px 0px;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 50px;
}
  /*______________________________________________________________________*/

  /* Animações */
  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }
.main, .navbar a {
    animation-name: fadeIn;
    animation-duration: 4s;
    
  }